# Relatório de Análises II
## 1. Tipos de Imóveis

In [40]:
import pandas as pd

In [44]:
dados = pd.read_csv('Projetos Python/Pandas Alura/Dados/aluguel.csv', sep=';')

FileNotFoundError: FileNotFoundError: [Errno 2] No such file or directory: 'Projetos Python/Pandas Alura/Dados/aluguel.csv'

In [30]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [32]:
dados['Tipo']

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [34]:
tipo_de_imovel =dados['Tipo']
tipo_de_imovel

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [36]:
tipo_de_imovel.drop_duplicates()

0               Apartamento
16923                  Casa
17821    Casa de Condomínio
18785          Casa de Vila
19018             Quitinete
Name: Tipo, dtype: object

In [39]:
tipo_de_imovel.drop_duplicates(inplace= True)
tipo_de_imovel

0               Apartamento
16923                  Casa
17821    Casa de Condomínio
18785          Casa de Vila
19018             Quitinete
Name: Tipo, dtype: object