## Relatório IV 
# Seleções e Frequencias

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('/data/workspace_files/aluguel_residencial.csv', sep= ';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

## Selecione somente os imóveis classificados com tipo 'Apartamento'.

In [20]:
selecao = dados['Tipo'] == 'Apartamento'
selecao

0        False
1        False
2         True
3         True
4         True
         ...
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

In [21]:
n1 = dados[selecao].shape[0]
n1

19532


## Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

In [22]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
selecao

0        False
1         True
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Tipo, Length: 22580, dtype: bool

In [23]:
selecao.shape[0]

22580

In [25]:
n2 = dados[selecao].shape[0]
n2

2212


## Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

In [26]:
selecao = (dados['Area']>=60) &(dados['Area']<=100)
n3 = dados[selecao].shape[0]

In [27]:
n3

8719

## Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [29]:
selecao = (dados['Quartos']>=4) & (dados['Valor']< 2000.00)
n4 = dados[selecao].shape[0]

In [30]:
n4

41

In [32]:
print(f'''Nº de imóveis classificados com tipo 'Apartamento'===> {n1}.

Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'===> {n2}.

Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites===> {n3}.

Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00===> {n4}''')

Nº de imóveis classificados com tipo 'Apartamento'===> 19532.

Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'===> 2212.

Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites===> 8719.

Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00===> 41

In [33]:
import pandas as pd

dados = pd.read_html('https://www.rmouracereais.com.br/index.php/produtos-e-precos/')
dados.head()

ImportError: ImportError: html5lib not found, please install it